{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h2 class="h1 mt-5 mb-4">Sélection de logements</h2>
    <div class="row mt-5">
        <div class="col-md-4 mb-3">
            <div class="card bg-light mb-3">
            <div class="card-header text-center">
                Loft spacieux, <b>30 nuits</b> <br>
                <small>Pas encore noté</small>
            </div>
            <img src="http://placehold.it/1000x400" alt="Image du loft" style="height: 200px; width: 100%; display: block">
            <div class="card-body">
                <h4 class="card-title">
                    Loft
                </h4>
                <p class="card-text">
                    Un espace élégant et raffiné, idéal pour des séjours en ville. Profitez du confort et de la modernité en plein cœur de la métropole.
                </p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb3">
            <div class="card-header text-center">
                1 chambres, <b>4 nuits</b> <br>
                <small>Pas encore noté</small>
            </div>
            <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block">
            <div class="card-body">
                <h4 class="card-title">
                    Cave
                </h4>
                <p class="card-text">
                    Venez vous reposer et profitez du confort de la cave a trésors de l'illustre Dragon of the Night. AKA CONSIGUR
                </p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb3">
            <div class="card-header text-center">
                2 chambres, <b>7 nuits</b> <br>
                <small>Pas encore noté</small>
            </div>
            <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block">
            <div class="card-body">
                <h4 class="card-title">
                    Appartement saisonier
                </h4>
                <p class="card-text">
                    Un espace de vacances avec une vue magnifique sur les pistes de skis
                </p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light mb3">
            <div class="card-header text-center">
                Loft spacieux, <b>30 nuits</b> <br>
                <small>Pas encore noté</small>
            </div>
            <img src="http://placehold.it/1000x400" alt="Image du loft" style="height: 200px; width: 100%; display: block">
            <div class="card-body">
                <h4 class="card-title">
                    Loft
                </h4>
                <p class="card-text">
                    Un espace élégant et raffiné, idéal pour des séjours en ville. Profitez du confort et de la modernité en plein cœur de la métropole.
                </p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb3">
            <div class="card-header text-center">
                1 chambres, <b>4 nuits</b> <br>
                <small>Pas encore noté</small>
            </div>
            <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block">
            <div class="card-body">
                <h4 class="card-title">
                    Cave
                </h4>
                <p class="card-text">
                    Venez vous reposer et profitez du confort de la cave a trésors de l'illustre Dragon of the Night. AKA CONSIGUR
                </p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb3">
            <div class="card-header text-center">
                2 chambres, <b>7 nuits</b> <br>
                <small>Pas encore noté</small>
            </div>
            <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block">
            <div class="card-body">
                <h4 class="card-title">
                    Appartement saisonier
                </h4>
                <p class="card-text">
                    Un espace de vacances avec une vue magnifique sur les pistes de skis
                </p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}